<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <!-- Latest compiled and minified JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static '/profile_app/css/style.css' %}">
        <title>User Dashboard</title>
    </head>
    <div class = 'wrapper'>
        <nav class="navbar mb-5 p-0 pb-1" style="background-image: linear-gradient(#fff, #fff3cf);">
            <div class="row text-center pl-2 pr-2" style="width:100%">
                <div class="col p-0 pl-5">
                    <a href="/dashboard"><img src="{% static 'profile_app/img/Teach2Learn.png' %}" style="height: 70px" /></a>
                </div>
                <div class="col p-0"></div>
                <div class="col border-left border-right p-0 mt-4" style="height: 75%">
                    <a class = 'nav-link text-secondary p-0' href="/dashboard">Dashboard</a>
                </div>
                <div class="col border-right p-0 mt-4" style="height: 75%">
                    <a class = 'nav-link text-secondary p-0' href="/profile/{{ user.id }}">My Profile Page</a>
                </div>
                <div class="col border-right p-0 mt-4" style="height: 75%">
                    <a class = 'nav-link text-secondary p-0' href="/edit_profile">Account Settings</a>
                </div>
                <div class="col border-right p-0 mt-4" style="height: 75%">
                    <a class = 'nav-link text-secondary p-0' href="/categories">Categories</a>
                </div>
                <div class="col border-right p-0 mt-4" style="height: 75%">
                    <a class = 'nav-link text-secondary p-0' href="/logout">Logout</a>
                </div>
            </div>
        </nav>
        <div class="row mt-5">
            <div class="col"></div>
            <div class = "col">
                <h4 class="p-2 m-0 rounded-top" style="width: 100%; background-color:#fff3cf">Confirm Appointment: </h4> 
                <div class="overflow-auto mb-4 border rounded-bottom border-muted p-2 m-0" style="min-height: 250px">
                    <h5>Date: </h5>
                    <p>{{ appointment.date }}</p>
                    <h5>Location: </h5>
                    <p>{{ appointment.location }}</p>
                    <h5>What skill would you like to learn?</h5>
                    <form action="/process_reservation" class="login-form" method="POST"> 
                        {% csrf_token %}
                        <input type = 'hidden' name = 'id' value = '{{ appointment.id }}'>
                        <div class="text-center mt-3 pl-3 pr-3">
                            <select name = 'category'>
                                {% for skill in skills %}
                                    <option>{{ skill.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="text-center mt-4 mb-4">
                            <button class="btn text-dark" type="submit" style ="background-color:#fcedfc ">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</html>
