<!--
This page will have a chat where two different users can leave messages back and forth. 
It should also display the appointment details at the top (who is attending as student/teacher,
the time and date, location)
At the bottom there should also be form for a review to be created (similar to DojoReads in the module);
if the appointment creator is a teacher, then they should be the review receiver should be a student and vice versa. 

After creating a review the user should be redirected back to the dashboard. 
-->