<!--
This page will have a chat where two different users can leave messages back and forth. 
It should also display the appointment details at the top (who is attending as student/teacher,
the time and date, location)
At the bottom there should also be form for a review to be created (similar to DojoReads in the module);
if the appointment creator is a teacher, then they should be the review receiver should be a student and vice versa. 

After creating a review the user should be redirected back to the dashboard. 
-->
<!DOCTYPE html>
<head>
      <meta charset="UTF-8">
      {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'message_app/css/my_style.css' %}">
</head>

<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <h1 class="navbar-brand">Welcome {{ user.first_name }}!</h1>
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class = 'nav-link' href="/dashboard" style = 'margin-left: 50px'>Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class = 'nav-link' href="/profile/{{ user.id }}" style = 'margin-left: 50px'>My Profile Page</a>
                        </li>
                        <li class="nav-item">
                            <a class = 'nav-link' href="/edit_profile" style = 'margin-left: 50px'>About Page</a>
                        </li>
                        <li>
                            <a class = 'nav-link' href="/categories" style = 'margin-left: 50px'>Categories</a>
                        </li>
                        <li class="nav-item">
                            <a style = "margin-left: 50px" class = 'nav-link' href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>


    <h3>You are messaging {Intructor.name} for {appointment.category} {appointment.subcategory} </h3>
    <button type="button" class="btn btn-outline-danger">Cancel</button>

    
    


    

    {% for message in all_messages %}
    <h3>{{message.message_owner.first_name}} {{message.message_owner.last_name}} [{{message.created_at}}] </h3>
    <p>{{message.content}}</p>
    {% endfor %}
        
            
    <form action="/send_message/{{request.session.appointment_id}}" class="login-form" method="POST">     
        {% csrf_token %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                {% if message.extra_tags == "length" %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endif %}
                {% endfor %}
            </ul>
                {% endif %}

        <textarea class="post_area" rows="4" cols="150" name="post" value = ""></textarea>
        <input class="submit" name="message" type="submit" value="Post_a_message">
      </form>


      </div> 

      <button type="button" class="btn btn-outline-success">Teacher Attended </button>
      <button type="button" class="btn btn-outline-success">Student Attended</button>

      <h4>Review :</h4>

            <select>
            <option value="" selected disabled>Please select</option>
            <option value="1">☆</option>
            <option value="2">☆☆</option>
            <option value="3">☆☆☆</option>
            <option value="4">☆☆☆☆</option>
            <option value="5">☆☆☆☆☆</option>
          </select> 

          <button type="button" class="btn btn-outline-primary">Submit Review</button>


</body>