<!--
This page will have a chat where two different users can leave messages back and forth. 
It should also display the appointment details at the top (who is attending as student/teacher,
the time and date, location)
At the bottom there should also be form for a review to be created (similar to DojoReads in the module);
if the appointment creator is a teacher, then they should be the review receiver should be a student and vice versa. 

After creating a review the user should be redirected back to the dashboard. 
-->
<!DOCTYPE html>
<head>
      <meta charset="UTF-8">
      {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'message_app/css/my_style.css' %}">
</head>

<body>

    {% load static %}
    <nav class="navbar mb-5 p-0 pb-1" style="background-image: linear-gradient(#fff, #fff3cf);">
        <div class="row text-center pl-2 pr-2" style="width:100%">
            <div class="col p-0 pl-5">
                <a href="/dashboard"><img src="{% static 'profile_app/img/Teach2Learn.png' %}" style="height: 70px" /></a>
            </div>
            <div class="col p-0"></div>
            <div class="col border-left border-right p-0 mt-4" style="height: 75%">
                <a class = 'nav-link text-secondary p-0' href="/dashboard">Dashboard</a>
            </div>
            <div class="col border-right p-0 mt-4" style="height: 75%">
                <a class = 'nav-link text-secondary p-0' href="/profile/{{ user.id }}">My Profile Page</a>
            </div>
            <div class="col border-right p-0 mt-4" style="height: 75%">
                <a class = 'nav-link text-secondary p-0' href="/edit_profile">Account Settings</a>
            </div>
            <div class="col border-right p-0 mt-4" style="height: 75%">
                <a class = 'nav-link text-secondary p-0' href="/categories">Categories</a>
            </div>
            <div class="col border-right p-0 mt-4" style="height: 75%">
                <a class = 'nav-link text-secondary p-0' href="/logout">Logout</a>
            </div>
        </div>
    </nav>
    {%if appointment_Object.appointment_creator.id == request.session.curUser %}
        <p class="lead ml-5"> You are viewing as Instructor: </p>
    {% endif %}
    {% if appointment_Object.appointment_student.id == request.session.curUser %}
        <p class="lead ml-5"> You are viewing as Student: </p>
    {% endif %}

    <div class="row">
        <div class="col"></div>
        <div class="col-4">
            {%if appointment_Object.appointment_creator.id == request.session.curUser %}

                <div class="overflow-auto mb-4 border rounded rounded-lg border-muted" style="min-height: 300px">
                    <h4 class="p-2" style="width: 100%; background-color:#fcedfc">Course Details: </h4>
                        <div class="ml-5 mt-4" style="width:55%">
                            <form action = '/appointment/process_edits/{{ appointment_Object.id }}' method = 'post'>
                                {% csrf_token %}
                                <p>Date and time:</p>
                                <input class="form-control" type="datetime-local" name="date" value = '{{ appointment_Object.date }}'>
                                <p>Address: </p>
                                <input class="form-control" type="text" name = "location" value = "{{ appointment_Object.location }}">
                                <div class="row pl-3">
                                    <div class="text-center mt-4 mb-4">
                                        <button class="btn text-dark" type="submit" style ="background-color:#fcedfc ">Update</button>
                                    </div>

                                    <div class="text-center ml-3 mt-4 mb-4">
                                        <a class = "btn btn-danger btn-lg" href = '/appointment/cancel/{{ request.session.appointment_id }}'><h1>Cancel</h1></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
            {%endif%}
            {% if appointment_Object.appointment_student.id == request.session.curUser %}
                <div class="overflow-auto mb-4 border rounded rounded-lg border-muted" style="min-height: 300px">
                    <h4 class="p-2" style="width: 100%; background-color:#fcedfc">Course Details: </h4>
                    <div class="ml-5 mt-4" style="width:55%">
                        <p>Date and time: {{appointment_Object.date}}</p>
                        <p>Address: {{appointment_Object.location}} </p>
                        <a class = "btn btn-danger btn-lg" href = '/appointment/cancel/{{ request.session.appointment_id }}'><h1>Cancel</h1></a>
                    </div>
                </div>
            {% endif %}
            <div class="overflow-auto mt-3 mb-5 border rounded rounded-lg border-muted" style="min-height: 200px; max-height: 400px">
                <h4 class="p-2 m-0" style="width: 100%; background-color:#fff3cf">Your Selected City: {{appointment_Object.location}} </h4>
                <input type="hidden" id="longitude" value="{{longitude}}">
                <input type="hidden" id="latitude" value="{{latitude}}">
                <!-- <iframe width="100%" height="300px" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d172138.6556477566!2d-122.48249051624806!3d47.613174221925185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490102c93e83355%3A0x102565466944d59a!2sSeattle%2C%20WA!5e0!3m2!1sen!2sus!4v1566945715103!5m2!1sen!2sus" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                <style>
                    .mapouter{position:relative;text-align:right;height:100%;width:400px;}.gmap_canvas {overflow:hidden;background:none!important;height:100%;width:400px;}
                </style> -->
                
                
                <script>
                    var latitude = document.getElementById("latitude").value;
                    var longitude = document.getElementById("longitude").value;
                    longitude = Number(longitude)
                    latitude = Number(latitude)

                    var map;
                        function initMap() {
                        map = new google.maps.Map(document.getElementById('map'), {
                            center: { lat: latitude, lng: longitude},
                            zoom: 14
                        });
                    }
                </script>
               
                <div id="map" style="height: 200px; width:100%;"></div>
                <!-- Replace the value of the key parameter with your own API key. -->
                
                <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7PlU4EZjprdgPd5dG3gXCoYhSs378seU&callback=initMap">
                </script>
            </div>
        </div>
        <div style="width: 2.5%"></div>
        <div class="col-4">
            {% if not appointment_Object.appointment_student == none %}
                <!-- Instructor View -->
                {% if appointment_Object.appointment_creator.id == request.session.curUser %}

                    <div class="mb-4 border rounded rounded-lg border-muted" style="width: 95%; min-height: 500px;  min-width:250px">
                        <h4 class="p-2" style="width: 100%; background-color:#fcedfc">You are messaging {{appointment_Object.appointment_student.first_name}} {{appointment_Object.appointment_student.last_name}} for {{appointment_Object.category.name}} course. </h4>


                        {% for message in all_messages %}
                        <h6 class="pl-3">{{message.message_owner.first_name}} {{message.message_owner.last_name}} [{{message.created_at}}] </h6>
                        <p class="pl-5">{{message.content}}</p>
                        {% endfor %}
                                
                                    
                        <form action="/send_message/{{request.session.appointment_id}}" class="login-form pl-3" method="POST">     
                            {% csrf_token %}
                            {% if messages %}
                                <ul class="messages ml-5">
                                    {% for message in messages %}
                                    {% if message.extra_tags == "length" %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                                    {% endif %}
                            <textarea class="post_area from-control ml-3" rows="4" style = 'width: 90%' name="post" value = ""></textarea>
                            <div class="text-center mt-4 mb-4">
                                <button class="btn text-dark" type="submit" style ="background-color:#fcedfc ">Submit</button>
                            </div>
                        </form>  
                    </div>
    
                <!-- Student View -->
                {% else %}
                <div class="mb-4 border rounded rounded-lg border-muted" style="width: 95%; min-height: 500px;  min-width:250px">
                    <h4 class="p-2" style="width: 100%; background-color:#fcedfc">You are messaging {{appointment_Object.appointment_creator.first_name}} {{appointment_Object.appointment_creator.last_name}} for {{appointment_Object.category.name}} </h4>
                    {% for message in all_messages %}
                        <h6 class="pl-3">{{message.message_owner.first_name}} {{message.message_owner.last_name}} [{{message.created_at}}] </h6>
                        <p class="pl-5">{{message.content}}</p>
                    {% endfor %}        
                    <form action="/send_message/{{request.session.appointment_id}}" class="login-form pl-3" method="POST">     
                        {% csrf_token %}
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    {% if message.extra_tags == "length" %}
                                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <textarea class="post_area" rows="4" cols="60" name="post" value = ""></textarea>
                        <div class="text-center mt-4 mb-4">
                            <button class="btn text-dark" type="submit" style ="background-color:#fcedfc ">Submit</button>
                        </div>
                    </form>  
                </div>
                {%endif%}
            </div>
            <div class="col"></div>
        </div>

    <div class="row mt-5">
        <div class="col"></div>
        {% if showReview %}
            <div class="overflow-auto mb-4 border rounded rounded-lg border-muted" style="min-height: 250px">
                <h4 class="p-2" style="width: 100%; background-color:#fff3cf">Leave a Review: </h4> 
                <form action="/send_review/{{request.session.appointment_id}}" class="login-form" method="POST"> 
                    {% csrf_token %}
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            {% if message.extra_tags == "rating" %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            {% if message.extra_tags == "review_post" %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <textarea class="post_area ml-3 mr-3" rows="5" cols="50" name="review_post" value = ""></textarea>
                    <div class="text-center mt-3 pl-3 pr-3">
                        <select name="rating" class="form-control">
                            <option value="1">☆</option>
                            <option value="2">☆☆</option>
                            <option value="3">☆☆☆</option>
                            <option value="4">☆☆☆☆</option>
                            <option value="5">☆☆☆☆☆</option>
                        </select> 
                    </div>
                    <div class="text-center mt-4 mb-4">
                        <button class="btn text-dark" type="submit" style ="background-color:#fcedfc ">Submit</button>
                    </div>
                </form>
            </div>
        {%endif%}
        <div class="col"></div>
        {%endif%}
    </div>
</body>