<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <!-- Latest compiled and minified JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static '/profile_app/css/style.css' %}">
        <title>Category</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    </head>
    <body>
        <div class="wrapper">
            {% load static %}
            <nav class="navbar mb-5" style="background-color:#FFF6DB">
                <div class="row text-center" style="width:100%">
                    <div class="col">
                        <a href="/dashboard"><img src="{% static 'profile_app/img/Teach2Learn.png' %}" style="height: 75px" /></a>
                    </div>
                    <div class="col"></div>
                    <div class="col pt-4">
                        <a class = 'nav-link text-secondary' href="/dashboard">Dashboard</a>
                    </div>
                    <div class="col pt-4">
                        <a class = 'nav-link text-secondary' href="/profile/{{ user.id }}">My Profile Page</a>
                    </div>
                    <div class="col pt-4">
                        <a class = 'nav-link text-secondary' href="/edit_profile">Account Settings</a>
                    </div>
                    <div class="col pt-4">
                        <a class = 'nav-link text-secondary' href="/categories">Categories</a>
                    </div>
                    <div class="col pt-4">
                        <a class = 'nav-link text-secondary' href="/logout">Logout</a>
                    </div>
                </div>
            </nav>
            <header>
                <p>
                    Categories:
                    <form id="category_form" action="/populate_subcategories_display" method="POST"> {% csrf_token %}
                        <select class="btn text-dark bg-light" name="select_category">
                        {% for category in all_categories %}
                            <option value="{{category.name}}">{{category.name}}</option>
                        {% endfor %}
                        </select>
                        <input type="submit">
                    </form>
                </p>
            </header>
            <body>
                <div class="main_content">
                    <h3>
                        This div will update depending on the drop down and populate the sub categories and instructors
                    </h3>
                    <div id="populate_subcategories">

                    </div>
                </div>
            </body>
        </div>

        <script>
        $('#category_form').submit(function(e){
            // preventDefault stops the default action of the event (e) from being triggered.
            e.preventDefault();
            console.log("Cateogry Form submitted but no HTTP request sent to server!");

            $.ajax({
                url: '/populate_subcategories_display',
                method: 'POST',
                data: $(this).serialize(),
                success: function(serverResponse){
                    $('#populate_subcategories').html(serverResponse);
                }
            })
        });
        </script>
    </body>
</html>
