<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% load static %}
        <link rel="stylesheet" href="{% static 'profile_app/css/####.css' %}">
        <title>Category</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    </head>
    <body>
        <div class="container">
            <nav>
                <a href="PLACEHOLDER">About Us</a>
                <a href = '/categories'>To categories</a>
                <a href="/logout">Log Out</a>
            </nav>
            <header>
                <p>
                    Categories:
                    <form id="category_form" action="/populate_subcategories_display" method="POST"> {% csrf_token %}
                        <select class="btn text-dark bg-light" name="select_category">
                        {% for category in all_categories %}
                            <option value="{{category.name}}">{{category.name}}</option>
                        {% endfor %}
                        </select>
                        <input type="submit">
                    </form>
                </p>
            </header>
            <body>
                <div class="main_content">
                    <h3>
                        This div will update depending on the drop down and populate the sub categories and instructors
                    </h3>
                    <div id="populate_subcategories">

                    </div>
                </div>
            </body>
        </div>

        <script>
        $('#category_form').submit(function(e){
            // preventDefault stops the default action of the event (e) from being triggered.
            e.preventDefault();
            console.log("Cateogry Form submitted but no HTTP request sent to server!");

            $.ajax({
                url: '/populate_subcategories_display',
                method: 'POST',
                data: $(this).serialize(),
                success: function(serverResponse){
                    $('#populate_subcategories').html(serverResponse);
                }
            })
        });
        </script>
    </body>
</html>
