<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% load static %}
        <link rel="stylesheet" href="{% static 'profile_app/css/####.css' %}">
        <title>User Dashboard</title>
    </head>
    <body>
        <div class="container">
            <nav>
                <a href="PLACEHOLDER">About Us</a>
                <a href = '/categories'>To categories</a>
                <a href="/logout">Log Out</a>
            </nav>
            <header>
                <p>Welcome {{first_name}}! - You have {{currency}} credits.</p>
            </header>
            <body>
                <div class="control_panel">
                    <p>User Control Panel</p>
                    <div class="my_availability">
                        <p>My availability:</p>
                        <form action="PLACEHOLDER" method="POST">
                            {% csrf_token %}
                            <label for="date">Date:</label>
                            <input type="date" id="date" name="appt_date"><br>
                            <label for="time">Time:</label>
                            <input type="time" id="time" name="appt_time" min="06:00" max="20:30" required><br>
                            <label for="location">Location</label>
                            <input type="text" id="location" name="appt_location"><br>
                            <input type="hidden" name="appt_creator" value="{{request.session.curUser}}">
                            <input type="submit" name="submit" value="Set availability">
                        </form>
                    </div>
                    <a href = '/profile/{{request.session.curUser}}'>To Profile</a>
                    <a href = '/my_history'>To history</a>
                    <a href="/messages/1">To message</a>
                    <a href="/appointment">Appointment</a>
                </div>
                <div class="live_feed">
                    <p>Live feed:</p>
                    <p>Suggestion for user</p>
                    <p>Pending request</p>
                    <p>I am teaching this person:</p>
                    <p>
                        <a href="/messages/{{appointments.id}}">{{appointments.appointment_student}}</a><br>
                        class on {{appointments.date}} at {{appointments.location}}
                    </p>
                    <p>I am signed up for:</p>
                    <p>
                        <a href="/profile/{{users.id}}">{{PLACEHOLDER}}</a><br>
                        class on {{PLACEHOLDER}} {{PLACEHOLDER}}
                    </p>
                </div>
            </body>
        </div>
    </body>
</html>
