<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% load static %}
        <link rel="stylesheet" href="{% static 'profile_app/css/####.css' %}">
        <title>Dashboard</title>
    </head>
    <body>
        <div class="container">
            <nav>
                <a href="PLACEHOLDER">About Us</a>
                <a href = '/categories'>To categories</a>
                <a href="/logout">Log Out</a>
            </nav>
            <header>
                <p>Welcome {{PLACEHOLDER}}! - You have {{PLACEHOLDER}} credits.</p>
            </header>
            <body>
                <div class="control_panel">
                    <div class="my_availability">

                    </div>
                    <a href = '/profile/1'>To Profile</a>
                    <a href = '/my_history'>To history</a>
                    <a href="/messages/1">To message</a>
                    <a href="/appointment">Appointment</a>
                </div>
                <div class="live_feed">
                    <p>Live feed:</p>
                </div>
            </body>
        </div>
    </body>
</html>
