<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <!-- Latest compiled and minified JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static '/profile_app/css/style.css' %}">
        <title>Profile</title>

        <script>
        $(document).ready(function () {
            bsCustomFileInput.init()
        })
        </script>
    </head>
    <body style="min-height: 1250px">

        {% load static %}
        <nav class="navbar mb-5 p-0 pb-1" style="background-image: linear-gradient(#fff, #fff3cf);">
            <div class="row text-center pl-2 pr-2" style="width:100%">
                <div class="col p-0 pl-5">
                    <img src="{% static 'profile_app/img/Teach2Learn.png' %}" style="height: 70px" />
                </div>
                <div class="col p-0"></div>
                <div class="col border-left border-right p-0 mt-4" style="height: 75%">
                    {% if curUser != "logged out" %}
                    <a class = 'nav-link text-secondary p-0' href="/dashboard">Dashboard</a>
                    {% endif %}
                </div>
                <div class="col border-right p-0 mt-4" style="height: 75%">
                    {% if curUser != "logged out" %}
                    <a class = 'nav-link text-secondary p-0' href="/profile/{{ user.id }}">My Profile Page</a>
                    {% endif %}
                </div>
                <div class="col border-right p-0 mt-4" style="height: 75%">
                    {% if curUser != "logged out" %}
                    <a class = 'nav-link text-secondary p-0' href="/edit_profile">Account Settings</a>
                    {% else %}
                    <a class = 'nav-link text-secondary p-0' href="/">Home</a>
                    {% endif %}
                </div>
                <div class="col border-right p-0 mt-4" style="height: 75%">
                    <a class = 'nav-link text-secondary p-0' href="/categories">Categories</a>
                </div>
                <div class="col border-right p-0 mt-4" style="height: 75%">
                    {% if curUser != "logged out" %}
                    <a class = 'nav-link text-secondary p-0' href="/logout">Logout</a>
                    {% else %}
                    <a class = 'nav-link text-dark p-0' href="/register_login">Register/Login</a>
                    {% endif %}
                </div>
            </div>
        </nav>

        <div class="row">
            <div class="col"></div>
            <div class="col-9">
                <div class="row p-3 rounded-lg" style="background-color:#fcedfc">
                    <h4>User: {{viewing_user.first_name}} {{viewing_user.last_name}}</h4>
                </div>
            </div>
            <div class="col"></div>
        </div>

        <div class="row mt-5">
            <div class="col mr-5"></div>
            <div class="col-3 p-0 ml-2">
                <div class="border rounded border-muted">
                    <div class="profile_img">
                        <form id="image_form" action="/check_picture" enctype="multipart/form-data" method="POST" class=" mt-5 mb-5 ml-5" style="width: 80%">
                            {% csrf_token %}
                            {% if viewing_user.image_base == "" or viewing_user.image_base == None%}
                                <img src="{% static '/profile_app/images/blank_user.jpg' %}" height = 200px>
                            {% else %}
                                <img src="data:image/png;base64, {{ viewing_user.image_base }}" alt="user profile picture" height = 200px/>
                            {% endif %}
                            {% if user == viewing_user %}
                                <div>
                                    <div class="input-group mt-3">
                                        <div class="input-group-prepend">
                                            <input type="submit" class="input-group-text" id="inputGroupFileAddon01" value="Upload">
                                        </div>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" name="profile_img" id="inputGroupFile01" onchange="loadFile(event)"
                                            aria-describedby="inputGroupFileAddon01">
                                            <label class="custom-file-label" style = 'overflow: hidden' for="inputGroupFile01">Choose file</label>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <script>
                                var loadFile = function(event) {
                                    var image = document.getElementById('output');
                                    image.src = URL.createObjectURL(event.target.files[0]);
                                };
                            </script>
                        </form>
                    </div>
                    
                    <div class="">
                        <h4 style="background-color:#fff3cf" class="m-0 pl-3 pt-2 pb-2">{{ viewing_user.first_name}}'s open timeslots: </h4>
                        {% if not open_appointments %}
                            <p class = 'pl-5 mt-3'>This user has no open timeslots!</p>
                        {%else%}
                            <ul class="mt-3">
                                {% for appointment in open_appointments %}
                                    <li>
                                        <p>{{ appointment.date }}<p>
                                        <p> Location: {{ appointment.location }}</p>
                                        {% if user.credits > 0 and viewing_user != user %}
                                            <a class="btn mb-3" style="background-color:#fcedfc" href = "/appointment/reserve/{{ appointment.id }}">Reserve this timeslot!</a>
                                        {%endif%}
                                    </li>
                                {% endfor %}
                            </ul>   
                        {%endif%}
                    </div>
                    <div class="overflow-auto mt-5" style="min-height: 200px; max-height: 400px">
                        <h4 class="p-2 m-0 pl-3" style="width: 100%; background-color:#fcedfc">{{ viewing_user.first_name }}'s Selected City: {{user.location}} </h4>
                        <input type="hidden" id="longitude" value="{{longitude}}">
                        <input type="hidden" id="latitude" value="{{latitude}}">

                        <script>
                            var latitude = document.getElementById("latitude").value;
                            var longitude = document.getElementById("longitude").value;
                            longitude = Number(longitude)
                            latitude = Number(latitude)

                            var map;
                                function initMap() {
                                map = new google.maps.Map(document.getElementById('map'), {
                                    center: { lat: latitude, lng: longitude},
                                    zoom: 12
                                });
                            }
                        </script>
                    
                        <div id="map" style="height: 200px; width:100%;"></div>
                        
                        <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7PlU4EZjprdgPd5dG3gXCoYhSs378seU&callback=initMap">
                        </script>
                    </div>
                </div>
            </div>

            <div class="col-6 pl-5">
                <div class="row ml-5">
                    <div class="border border-muted rounded" style="width: 95%; min-height: 300px">
                            <div class="mb-4">
                                <h4 class="p-2" style="width: 100%; background-color:#fff3cf">{{viewing_user.first_name}}'s Summary:</h4>
                                <div class="pl-5">
                                    <h5 class="mt-4">User Biography:</h5>
                                    <p>{{viewing_user.desc}}</p>

                                    {% if user == viewing_user %}
                                    <form action="/edit_description" method="POST">
                                        {% csrf_token %}
                                        <label for="edit_bio">Edit Biography: </label>
                                        <input class="form-control" type="text" name="desc" style="width: 85%">
                                        <input class="btn text-muted mt-2" style="background-color: #fcedfc" type="submit" value="Update" name="update">
                                    </form>
                                    {% endif %}

                                    <div class="live_feed">
                                      
                                        <h5 class="mt-5">{{viewing_user.first_name}}'s Overall Rating:</h5>
                                        
                                        {% if average_reviews == "" %}
                                            <h5>This user has no reviews yet!</h5>
                                        {% endif %}

                                        {% if average_reviews == 1 %}
                                        <span style="font-size:400%;color:yellow;">&starf;</span>
                                        {% endif %}
    
                                        {% if average_reviews == 2 %}
                                        <span style="font-size:400%;color:yellow;">&starf;</span>
                                        <span style="font-size:400%;color:yellow;">&starf;</span>
                                        {% endif %}
    
                                        {% if average_reviews == 3 %}
                                        <span style="font-size:400%;color:yellow;">&starf;</span>
                                        <span style="font-size:400%;color:yellow;">&starf;</span>
                                        <span style="font-size:400%;color:yellow;">&starf;</span>
                                        {% endif %}
    
                                        {% if average_reviews == 4 %}
                                        <span style="font-size:400%;color:yellow;">&starf;</span>
                                        <span style="font-size:400%;color:yellow;">&starf;</span>
                                        <span style="font-size:400%;color:yellow;">&starf;</span>
                                        <span style="font-size:400%;color:yellow;">&starf;</span>
                                        {% endif %}
    
                                        {% if average_reviews == 5 %}
                                        <span style="font-size:400%;color:yellow;">&starf;</span>
                                        <span style="font-size:400%;color:yellow;">&starf;</span>
                                        <span style="font-size:400%;color:yellow;">&starf;</span>
                                        <span style="font-size:400%;color:yellow;">&starf;</span>
                                        <span style="font-size:400%;color:yellow;">&starf;</span>
                                        {% endif %}


                                        <h5 class="mt-5">{{viewing_user.first_name}} can teach:</h5>
                                        <ul>
                                        {% for skill in skills  %}
                                            <li>{{skill.mainCategory.name }} » {{skill.name}}</li>
                                        {% endfor %}
                                        </ul>
                                        {% if viewing_user == user %}
                                        <p>Add a new skill that you can teach!</p>
                                        <form action = '/add_skill' method = 'post'>
                                            {% csrf_token %}
                                            <select class="form-control" name = 'category' style="width: 25%">
                                                {% for skill in all_skills %}
                                                    <option>{{ skill.name }}</option>
                                                {% endfor %}
                                            </select>
                                            <input class="btn text-muted mt-2" style="background-color: #fcedfc" type="submit" value="Submit" name="update">
                                        </form><br>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="user_reviews pl-5">
                                        
                                        
                                    {% if average_reviews != "" %}
                                    <h4>Reviews :</h4>
                                    {% for review in user_reviews  %}
                                    <ul>
                                    <h6 class="">
                                           
                                       <li> {{review.review_creator.first_name}} {{review.review_creator.last_name}} [{{review.created_at}}] : 
                                            {% if review.rating == 1 %}
                                        
                                            <span style="font-size:200%;color:yellow;">&starf;</span>
                                            {% endif %}
        
                                            {% if review.rating == 2 %}
                                
                                            <span style="font-size:200%;color:yellow;">&starf;</span>
                                            <span style="font-size:200%;color:yellow;">&starf;</span>
                                            {% endif %}
        
                                            {% if review.rating == 3 %}
                                        
                                            <span style="font-size:200%;color:yellow;">&starf;</span>
                                            <span style="font-size:200%;color:yellow;">&starf;</span>
                                            <span style="font-size:200%;color:yellow;">&starf;</span>
                                            {% endif %}
        
                                            {% if review.rating == 4 %}
                                    
                                            <span style="font-size:200%;color:yellow;">&starf;</span>
                                            <span style="font-size:200%;color:yellow;">&starf;</span>
                                            <span style="font-size:200%;color:yellow;">&starf;</span>
                                            <span style="font-size:200%;color:yellow;">&starf;</span>
                                            {% endif %}
        
                                            {% if review.rating == 5 %}
            
                                            <span style="font-size:200%;color:yellow;">&starf;</span>
                                            <span style="font-size:200%;color:yellow;">&starf;</span>
                                            <span style="font-size:200%;color:yellow;">&starf;</span>
                                            <span style="font-size:200%;color:yellow;">&starf;</span>
                                            <span style="font-size:200%;color:yellow;">&starf;</span>
                                            {% endif %}
                                       </li>  
                                    </h6>
                                    <p class="pl-4">
                                        "{{review.content}}"
                                    </p><br>
                                    </ul>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>

        <script src="./coverage/bs-custom-file-input.js"></script>
        <script>
            bsCustomFileInput.init()
            var btn = document.getElementById('btnResetForm')
            var form = document.querySelector('#image_form')
            btn.addEventListener('click', function () {
                form.reset()
            })
        </script>
    </body>
</html>
