<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% load static %}
        <link rel="stylesheet" href="{% static 'profile_app/css/####.css' %}">
        <title>Profile</title>
    </head>
    <body>
        <div class="container">
            <nav>
                <a href="PLACEHOLDER">About Us</a>
                <a href = '/categories'>To categories</a>
                <a href="/logout">Log Out</a>
            </nav>
            <header>
                <p>Username: {{first_name}}</p>
            </header>
            <body>
                <div class="main_content">
                    <div class="profile_img">

                    </div>
                    <div class="user_bio">
                        <p>User Bio:</p>
                        <p>{{user_bio}}</p>
                    </div>
                    <div class="">
                        <p>Drop down of my availability:</p>
                        <select name="availability">
                        {% for appt in availability  %}
                            <option value="{{appt.id}}">{{appt.appointment_date}} {{PLACEHOLDER}} {{appt.appointment_location}}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="user_reviews">
                        <p>Reviews:</p>
                        {% for review in all_received_reviews  %}
                        <p>
                            {{review.review_creator}} says,   
                        </p>
                        <p>
                            "{{review.content}}"
                        </p>
                        {% endfor %}
                    </div>
                </div>
                <div class="live_feed">
                    <p>User Rating:</p>
                    <p>Courses taught:</p>
                    <ul>
                    {% for course in course_taught  %}
                        <li>{{course.skills_to_teach}}</li>
                    {% endfor %}
                    </ul>
                    <a href="PLACEHOLDER">Add courses</a>
                </div>
            </body>
        </div>
    </body>
</html>
