<html>
<head>
    <title>Edit Profile</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/profile_app/css/style.css' %}">
</head>
<body>
    <div class = "wrapper">
        {% load static %}
        <nav class="navbar mb-5 p-0 pb-1" style="background-color:#FFF6DB">
            <div class="row text-center pl-2 pr-2" style="width:100%">
                <div class="col p-0">
                    <a href="/dashboard"><img src="{% static 'profile_app/img/Teach2Learn.png' %}" style="height: 70px" /></a>
                </div>
                <div class="col p-0"></div>
                <div class="col border-left border-right p-0 mt-4" style="height: 75%">
                    <a class = 'nav-link text-secondary p-0' href="/dashboard">Dashboard</a>
                </div>
                <div class="col border-right p-0 mt-4" style="height: 75%">
                    <a class = 'nav-link text-secondary p-0' href="/profile/{{ user.id }}">My Profile Page</a>
                </div>
                <div class="col border-right p-0 mt-4" style="height: 75%">
                    <a class = 'nav-link text-secondary p-0' href="/edit_profile">Account Settings</a>
                </div>
                <div class="col border-right p-0 mt-4" style="height: 75%">
                    <a class = 'nav-link text-secondary p-0' href="/categories">Categories</a>
                </div>
                <div class="col border-right p-0 mt-4" style="height: 75%">
                    <a class = 'nav-link text-secondary p-0' href="/logout">Logout</a>
                </div>
            </div>
        </nav>
        <div class="row">
            <div class="col"></div>
            <div class="col-9">
                <div clas = 'row'>
                    <div class="col"></div>
                    <div class = 'col'>
                        <div class="row p-3 rounded-lg" style="background-color:#fcedfc">
                            <div class="col">
                                <h4>Edit Profile</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>   
                <div class = 'row' style = 'margin-top: 20px'>
                    {% if messages %}
                        <ul class="messages">    
                            {% for message in messages %}    
                                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                            {% endfor %}
                        </ul>
                    {% endif %}          
                </div>   
                <div class="row">
                    <div class="col control_panel m-0 p-0 pl-5 pt-2">
                        <div class="mt-3 mb-4 border rounded rounded-lg border-muted" style="width: 95%; min-height: 300px">
                            <form action = '/process_profile_edits' method = 'post'>
                                {% csrf_token %}
                                <div class="text-left pl-5 m-0" style="width: 65%">
                                    <h5 class="mt-3">First Name</h5>
                                    <input class="form-control" type="text" id = "first_name" name = "first_name" value = {{ user.first_name }}>
                                    <h5 class="mt-3">Last Name:</h5>
                                    <input class="form-control" type="text" id = "last_name" name = "last_name" value = {{ user.last_name }}>
                                    <h5 class="mt-3">Email:</h5>
                                    <input class="form-control" type="text" id = "email" name = "email" value = {{ user.email }}>
                                    <div class="text-center mt-3 mb-3">
                                        <input class="btn text-muted" style="background-color: #fcedfc" type="submit" value="Save">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col live_feed pl-5 pt-2">
                        <div class="mt-3 mb-4 border rounded rounded-lg border-muted" style="width: 95%; min-height: 300px">
                            <form action = '/edit_password' method = 'post'>
                                {% csrf_token %}
                                <div class="text-left pl-5 m-0" style="width: 65%">
                                    <h5 class="mt-3">New Password</h5>
                                    <input class="form-control" type="password" placeholder="Password" id = "regPassword" name = "regPassword">
                                    <h5 class="mt-3">Confirm Password</h5>
                                    <input class="form-control" type="password" placeholder="Confirm Password" id = "confPassword" name = "confPassword">
                                    <div class="text-center mt-3 mb-3">
                                        <input class="btn text-muted" style="background-color: #fcedfc" type="submit" value="Save">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class = 'col'></div>
        </div>
    </div>
</body>

