<html>
<head>
    <title>Edit Profile</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/profile_app/css/style.css' %}">
</head>
<body>
    <div class = "wrapper">
        {% load static %}
        <nav class="navbar mb-5" style="background-color:#FFF6DB">
            <div class="row text-center" style="width:100%">
                <div class="col">
                    <a href="/dashboard"><img src="{% static 'profile_app/img/Teach2Learn.png' %}" style="height: 75px" /></a>
                </div>
                <div class="col"></div>
                <div class="col pt-4">
                    <a class = 'nav-link text-secondary' href="/dashboard">Dashboard</a>
                </div>
                <div class="col pt-4">
                    <a class = 'nav-link text-secondary' href="/profile/{{ user.id }}">My Profile Page</a>
                </div>
                <div class="col pt-4">
                    <a class = 'nav-link text-secondary' href="/edit_profile">Account Settings</a>
                </div>
                <div class="col pt-4">
                    <a class = 'nav-link text-secondary' href="/categories">Categories</a>
                </div>
                <div class="col pt-4">
                    <a class = 'nav-link text-secondary' href="/logout">Logout</a>
                </div>
            </div>
        </nav>

        <div class = 'main_section'>
            <h2 class=>Welcome {{ user.first_name }}!</h2>
            <div class = 'header_section'>
                <h3 style = 'display: inline-block'>Edit Profile</h3>
                <a class = 'btn btn-primary' style = 'color: white; margin-left: 780px;' href = '/dashboard'>Return to Dashboard</a>
            </div>
            {% if messages %}
                <ul class="messages">    
                    {% for message in messages %}    
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                    {% endfor %}
                </ul>
            {% endif %}
            <div class = 'form_border'>
                <form action = '/process_profile_edits' method = 'post'>
                    {% csrf_token %}
                    <label for="first_name">First Name</label>
                    <input class="form-control" type="text" id = "first_name" name = "first_name" value = {{ user.first_name }}>
                    <label for="last_name">Last Name</label>
                    <input class="form-control" type="text" id = "last_name" name = "last_name" value = {{ user.last_name }}>
                    <label for="email">Email</label>
                    <input class="form-control" type="text" id = "email" name = "email" value = {{ user.email }}>
                    <button class="btn btn-success" type="Create" style = "margin: 20px auto">Save</button>
                </form>
            </div>
            <div class = 'form_border' style = 'margin-left: 100px'>
                <form action = '/edit_password' method = 'post'>
                    {% csrf_token %}
                    <label for="password">Password</label>
                    <input class="form-control" type="password" placeholder="Password" id = "regPassword" name = "regPassword">
                    <label for="confPassword">Confirm Password</label>
                    <input class="form-control" type="password" placeholder="Confirm Password" id = "confPassword" name = "confPassword">
                    <button class="btn btn-success" type="Create" style = "margin: 20px auto">Update Password</button>
                </form>
            </div>
            <h3>Edit Description</h3>
            <form action = '/edit_description' method = 'post'>
                {% csrf_token %}
                <textarea style = 'border: 1px solid lightgray' class="form-control" id="desc" name = "desc" rows="5">{{ user.desc }}</textarea>
                <button class="btn btn-success" type="Create" style = "margin: 20px auto">Save</button>
            </form>
        </div>
    </div>
</body>

