<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <!-- Latest compiled and minified JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static '/profile_app/css/style.css' %}">
        <title>Teach 2 Learn </title>
    </head>
    <body>

        {% load static %}
        <nav class="navbar p-0 pb-1" style="background-image: linear-gradient(#fff, #fff3cf);">
            <div class="row text-center pl-2 pr-2" style="width:100%">
                <div class="col p-0 pl-5">
                    <img src="{% static 'profile_app/img/Teach2Learn.png' %}" style="height: 70px" />
                </div>
                <div class="col p-0"></div>
                <div class="col p-0 mt-4">
                </div>
                <div class="col p-0 mt-4" style="height: 75%">
                </div>
                <div class="col p-0 mt-4" style="height: 75%">
                </div>
                <div class="col border-left p-0 mt-4" style="height: 75%">
                    <a class = 'nav-link text-secondary p-0' href="/categories">Categories</a>
                </div>
                <div class="col border-right border-left p-0 mt-4" style="height: 75%">
                    <a class = 'nav-link text-secondary p-0' href="/register_login">Register/Login</a>
                </div>
            </div>
        </nav>


<div class="row border rounded" style="height: 500px; width: 100%; background-size: cover; background-repeat: no-repeat; background-position: center; background-image: url({% static 'login_app/img/learning222.jpg' %})">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col">
        <div class="mt-5 rounded-lg border pl-5 pr-5 pb-5" style="background-color: white; opacity: .90;">
            <div class="row" >
                <div class="col"></div>
                <div class="col">
                    <img src="{% static 'profile_app/img/Teach2Learn.png' %}" style="height: 150px" />
                    <h1 class="text-right font-weight-bold"> 2021's #1 Learning Community!</h1>
                        <h3 class="text-right">Forbes, 2030</h3>
                </div>
                <div class=" col text-center">
                    <a href="/register_login" class="btn mt-5 " style="background-color: gold">Register Now!</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>

<div class="row" style="height: 100px"></div>

<div class="row">
    <div class="col"></div>
    <div class="col-5">
            <h1 class="display-3">
                At Teach<span style="color:#ffbfff">to</span>Learn, we believe everyone's always a student and a teacher!
            </h1>
    </div>
    <div class="col"></div>
</div>

<div class="row" style="height: 100px"></div>

<div class="row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
</div>

<div class="row"></div>

<div class="row"></div>

<div class="row"></div>

<div class="row"></div>


    </body>
</html>