<div class="row">
    <div class="col"></div>
    <div class="col-8 text-center" id="first_stage">
        <form id="choose_subcategories" action="/learn_subcategories" method="POST">
            {% csrf_token %}
            <h3>Which courses/subcategories would you like to learn?</h3> 
            <h5> Select from below: </h5>
                {% for subcategory in all_subcategories %}
                <input class="form-check-input" type="checkbox" name="{{subcategory.name}}" value="{{subcategory.name}}"> <span class="lead">{{subcategory.name}}</span><br>
                {% endfor %}
            
            <input type="hidden" name="current_user" value="{{current_user.id}}">
            <div class="text-center mt-4 mb-4">
                <button class="btn text-dark" type="submit" style ="background-color:#fcedfc ">Submit!</button>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>

<script>
$('#choose_subcategories').submit(function(e){
    // preventDefault stops the default action of the event (e) from being triggered.
    // e.preventDefault();
    console.log("Choose Category From submitted but no HTTP request sent to server!");

    $.ajax({
        url: '/learn_subcategories',
        method: 'POST',
        // data: { subcategories : $('#post_subcategories') },
        data: $(this).serialize(),
        success: function(serverResponse){
        }
    })
});
</script>