<div class="row">
    <div class="col"></div>
    <div class="col-8 text-center" id="first_stage">
        <form id="location_form" action="/location_form" method="POST"> {% csrf_token %}
            <h3>What city are you looking to teach in?</h3>
            <div class="row">
                <div class="col"></div>
                    <div class="col text-center text-light">
                        <input type="text" id="post_location" class="form-control" name="location" placeholder="Please insert City, State, and Country">
                    </div>      
                <div class="col"></div>
            </div>
            <input type="hidden" name="current_user" value={{current_user.id}}>
            <div class="text-center mt-4 mb-4">
                <button class="btn text-dark" type="submit" style ="background-color:#fcedfc ">Submit!</button>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>

<script>
$('#location_form').submit(function(e){
    // preventDefault stops the default action of the event (e) from being triggered.
    e.preventDefault();
    console.log("Location Form submitted but no HTTP request sent to server!");

    $.ajax({
        url: '/location_form',
        method: 'POST',
        data: { location : $('#post_location').val() },
        success: function(serverResponse){
            $('#location_form').fadeOut(475)
                .delay(475)
                .queue(function(n) {
                    $('#choose_subcategories').hide().html(serverResponse).fadeIn(475);   
                    n();
                })
        },
        error: function(serverResponse){
            alert(serverResponse.responseJSON.error);
        }
    })
});
</script>