<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Getting to know you!</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>



<body>
    {% load static %}
    <nav class="navbar mb-5 p-0 pb-1" style="background-image: linear-gradient(#fff, #fff3cf);">
        <div class="row text-center pl-2 pr-2" style="width:100%">
            <div class="col p-0 pl-5">
                <img src="{% static 'profile_app/img/Teach2Learn.png' %}" style="height: 70px" />
            </div>
            <div class="col p-0"></div>
            <div class="col border-left border-right p-0 mt-4" style="height: 75%">

            </div>
            <div class="col border-right p-0 mt-4" style="height: 75%">

            </div>
            <div class="col border-right p-0 mt-4" style="height: 75%">

            </div>
            <div class="col border-right p-0 mt-4" style="height: 75%">

            </div>
            <div class="col border-right p-0 mt-4" style="height: 75%">

            </div>
        </div>
    </nav>

    <div class="row">
        <div clas="col"></div>
        <div class="col text-center">
            <h3> Thank you for registering, {{current_user.first_name}} {{current_user.last_name}}!</h3>
            <p></p>
            <p class="lead"> Please fill out the next few questions to get started!</p>
            <p class="lead">Enjoy your time at Teach2Learn!</p>
        </div>
        <div clas="col"></div>
    </div>

    <div class="row">
        <div class="col"></div>
        <div class="col-8 mt-5 text-center" id="first_stage">
            <form id="category_form" action="/category_form" method="POST"> {% csrf_token %}
                <h3>What Category would you like to teach in?</h3> 
                <p class="lead mt-5"> Choose from the list: </p>
                <select class="btn text-dark bg-light" name="select_category">
                    {% for category in all_categories %}
                    <option value="{{category.id}}">{{category.name}}</option>
                    {% endfor %}
                </select>
                <p class="lead mt-5">Or add a new category! </p>
                
                <div class="row">
                    <div class="col"></div>
                    <div class="col text-center text-light">
                        <input type="text" class="form-control" name="add_category" placeholder="Examples: Math, Languages, Art, Technology, Sports">
                    </div>
                    <div class="col"></div>
                </div>

                <input type="hidden" name="current_user" value="{{current_user.id}}">
                <div class="text-center mt-4 mb-4">
                    <button class="btn text-dark" type="submit" style ="background-color:#fcedfc ">Submit!</button>
                </div>
            </form>
        </div>
        <div class="col"></div>
    </div>



    <div>

        <div id="subcategories">

        </div>

        <div id="location_form">

        </div>

        <div id="choose_subcategories">

        </div>

    </div>

    <script>
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (settings.type == 'POST' || settings.type == 'PUT' || settings.type == 'DELETE') {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                }
            }
        });

        $('#category_form').submit(function(e){
            // preventDefault stops the default action of the event (e) from being triggered.
            e.preventDefault();
            console.log("Cateogry Form submitted but no HTTP request sent to server!");

            $.ajax({
                url: '/category_form',
                method: 'POST',
                data: $(this).serialize(),
                success: function(serverResponse){
                    $('#category_form').fadeOut(475)
                        .delay(475)
                        .queue(function(n) {
                            $('#subcategories').hide().html(serverResponse).fadeIn(475);   
                            n();
                    })
                }
            })
        });

    </script>

</body>

</html>